[submodule "pure"]
	path = pure
	url = https://github.com/sindresorhus/pure
[submodule "zsh-syntax-highlighting"]
	path = zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting
[submodule "tpm"]
	path = tpm
	url = https://github.com/tmux-plugins/tpm
[submodule "nord-dircolors"]
	path = nord-dircolors
	url = https://github.com/arcticicestudio/nord-dircolors
